.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  border: 1px solid var(--border-disabled);
  border-radius: 8px;
}

.productName {
  font-size: 14px;
  font-weight: 600;
}

.content {
  display: -webkit-inline-box;
  color: var(--text-info);
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.iconWrapper {
  display: flex;
  gap: 4px;
  margin-top: 4px;
}

.favoriteIconWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.ratingIconWrapper {
  display: flex;
  gap: 2px;
  align-items: center;
}

.favoriteCount,
.rating {
  font-size: 12px;
  font-weight: 600;
}

.starIcon {
  padding-bottom: 2px;
}
