.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.cafeRankContainer {
  padding: 20px;
}

.cafeRank {
  font-weight: bold;
}

.cafeImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cafeDetailContainer {
  cursor: pointer;

  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 1rem 1.75rem 1rem 0;
  padding: 0.625rem 1.25rem;

  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);

  transition: transform 0.3s ease-in-out;
}

.cafeDetailContainer:hover {
  transform: scale(1.05);
}

.cafeDetailSummaryContainer {
  display: flex;
  align-items: center;
}

.titleAndAddressContainer {
  padding-left: 0.625rem;
}

.title {
  font-weight: 700;
}

.cafeLikeInfoContainer {
  display: flex;
  align-items: center;
}

.LikeCount {
  padding-left: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
}
