.container {
  width: 70px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  gap: 30px;

  position: fixed;
  left: 0;
  z-index: 999;

  padding-top: 20px;

  border-right: 1px solid #ddd;
}

.caption {
  font-size: 12px;
  color: #666;
}

.button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  padding: 0;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5px;
}
