.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  height: 60px;
  margin: 0 auto;
  max-width: 560px;
}

.logo {
  width: '100%';
  height: auto;
}
