:root {
  --logo: #3145ff;
  --primary: #516fff;
  --primary200: #b7baff;
  --primary900: #5054ff;
  --white: #fff;
  --black: #000;
  --red: #ff5b5b;
  --purple: #6e61ff;

  --navy: #303650;

  --gray100: #f2f4f6;
  --gray150: #eaeaea;
  --gray200: #e5e8eb;
  --gray300: #d1d6db;
  --gray350: #c9c9c9;
  --gray400: #b0b8c1;
  --gray500: #8b95a1;
  --gray600: #6b7684;
  --gray700: #4e5968;
  --gray800: #333d4b;
  --gray900: #191f28;

  --blue100: #d1ddff;
  --blue200: #b9cbff;
  --blue300: #a0c1fd;
  --blue400: #8ba9ff;
  --blue500: #5885f5;
  --blue600: #2459e0;
  --blue700: #193ecb;

  --purple100: #b7baff;
  --purple400: #8e92ff;

  --transparent-black: #777777aa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
}

body,
input,
select,
textarea,
button {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    "Open Sans", "Helvetica Neue", sans-serif;
}

body:has([role="dialog"]) {
  overflow: hidden;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
}

input:disabled {
  background: none;
  cursor: not-allowed;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;

  border: 0;
  outline: 0;
  border-collapse: collapse;

  font-size: 100%;

  background: transparent;

  vertical-align: baseline;
}

*.hidden {
  position: absolute;
  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("/fonts/Pretendard-Black.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("/fonts/Pretendard-ExtraBold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("/fonts/Pretendard-SemiBold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("/fonts/Pretendard-Medium.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("/fonts/Pretendard-Regular.subset.woff2") format("woff2");
}
