.header {
  position: sticky;
  z-index: 1000;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height-desktop);
  background-color: var(--color-black);
}

@media (max-width: 420px) {
  .header {
    height: var(--header-height-mobile);
  }
}

@media (max-width: 380px) {
  .header {
    height: var(--header-height-xxs);
  }
}

.logoContainer {
  position: relative;
  overflow: hidden;
  aspect-ratio: 180 / 40;
  width: 180px;
  height: 40px;
}

@media (max-width: 768px) {
  .logoContainer {
    width: 140px;
  }
}

@media (max-width: 380px) {
  .logoContainer {
    width: 120px;
  }
}

.login {
  padding: 4px 8px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
}
