.container {
  display: flex;

  flex-direction: column;

  cursor: pointer;
}

.imageSection {
  position: relative;

  width: 198px;
  min-width: 150px;
}

.likeButton {
  position: absolute;
  top: 4%;
  right: 1%;
  z-index: 8;

  border: none;
  background-color: transparent;

  &:hover {
    transform: scale(1.2);
  }
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  position: relative;

  width: 100%;

  padding: 0.8rem;
}

.infoTopSection {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  text-overflow: ellipsis;

  line-height: 16px;
  font-weight: 700;
  font-size: 16px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;

  color: #444;
  font-size: 12px;
}

.address {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  text-overflow: ellipsis;
  color: #444;
  font-size: 12px;
  line-height: 12px;
}

.category {
  display: flex;
  justify-content: space-between;

  color: #333;
  font-size: 12px;
}
