.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  row-gap: 20px;
}

.reset {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
}
