* {
  color: #424242;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: SUIT-Regular, Roboto, system-ui, "Segoe UI", Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 62.5%;
}

body {
  position: relative;
}

h1 {
  font-family: SUIT-Bold, sans-serif;
  font-size: 4rem;
}

h2 {
  font-family: SUIT-Bold, sans-serif;
  font-size: 3.2rem;
}

h3 {
  font-family: SUIT-Bold, sans-serif;
  font-size: 2.8rem;
}

h4 {
  font-family: SUIT-Bold, sans-serif;
  font-size: 2.4rem;
}

h5 {
  font-family: SUIT-Bold, sans-serif;
  font-size: 2rem;
}

button {
  cursor: pointer;
}
