.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.link {
  display: block;
  width: 160px;
  height: 40px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 40px;
  border-radius: 8px;
  background-color: var(--color-primary);
}
