.banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 28rem;
  padding-left: 2rem;
  background: linear-gradient(45deg, #3e5e8e 0%, #6992c3 100%);
}

.titleBox {
  margin-right: 0.4rem;
}

.title {
  user-select: none;

  flex-grow: 1;

  font-size: 2.8rem;
  font-weight: 700;
  color: #ffffff;

  -webkit-user-drag: none;
}

.subTitle {
  user-select: none;

  font-size: 1.6rem;
  font-weight: 500;
  color: #f3f3f3;

  -webkit-user-drag: none;

  margin-bottom: 1rem;
}
