.containerStyling {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
}

.labelStyling {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.requiredStyling {
  color: #c50000;
}

.menuStyling {
  align-items: center;
  align-self: flex-start;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.inputStyling {
  width: 100%;
  margin-top: 8px;

  /* > * {
    > *:nth-of-type(odd) {
      background-color: #f3f3f3;
      cursor: pointer;
    }

    > * {
      > input {
        cursor: pointer;
      }
    }
  } */
}
