.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  width: 70px;

  padding: 0.4rem;

  border: none;
  background: none;

  font-size: 16px;

  & > *:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
  }
}
