.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  cursor: pointer;
  font-size: var(--theme-fontSize-4xl);
}

.text {
  font-size: var(--theme-fontSize-sm);
}
