.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 66px;
  padding: 1rem;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-left: auto;
}

.userButtonContainer {
  width: 100px;
}

.iconButton {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 0.5rem;

  font-size: 1.5rem;
  color: #f08080;
}
