.container {
  position: fixed;
  z-index: 1000;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height-desktop);
  padding: 0 12.33%;
  background-color: var(--color-black);
}

@media (max-width: var(--breakpoint-xxl)) {
  .container {
    padding: 0 8.33%;
  }
}

@media (max-width: var(--breakpoint-md)) {
  .container {
    padding: 0 4.16%;
  }
}

@media (max-width: var(--breakpoint-xs)) {
  .container {
    height: var(--header-height-mobile);
    padding: 0 16px;
  }
}

@media (max-width: var(--breakpoint-xxs)) {
  .container {
    height: var(--header-height-xxs);
  }
}

.logo {
  aspect-ratio: 128 / 29;
  width: 180px;
}

@media (max-width: var(--breakpoint-md)) {
  .logo {
    width: 140px;
  }
}

@media (max-width: var(--breakpoint-xxs)) {
  .logo {
    width: 120px;
  }
}

.loginButton {
  padding: 4px 8px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
}
