#root {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 495px;

  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

* {
  font-family: "Pretendard", sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  position: fixed;

  overflow-y: hidden;
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100svh;
}
