.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: var(--color-white);
}

.categoryImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.categoryName {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1rem;
}
